-e git+https://git@github.com/NCI-GDC/cdisutils.git@8a8e599fdab5ade9bd8c586132d974a102e5d72d#egg=cdisutils
-e git+https://git@github.com/NCI-GDC/psqlgraph.git@4fbeddeb058ad09741c5d2b9aacbd1c63cfc3dd1#egg=psqlgraph
-e git+https://git@github.com/NCI-GDC/gdcdatamodel.git@4e97374e1b70711198442b23285d52b2d5925b8d#egg=gdcdatamodel
